.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-weight: bolder;
    font-size: 4vh;
    font-family: 'Pacifico', cursive;
}

.c1{
    position: absolute;
}

.c1-1{
    
    animation: fadeInOut 15s infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Abril Fatface', cursive;
}

.c1-2{
    animation: fadeInOut 15s ease-in infinite;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    font-family: 'Abril Fatface', cursive;
}

.c2{
    position: absolute;
    animation: fadeIn 15s infinite;
    animation-delay: 15s;
    animation-iteration-count: 1;
    animation-fill-mode:backwards;
}

.loadname{
    font-size: small;
    text-indent: right;
    font-weight: 600;
}

.bharat_mata{
    height:220px;
}

.intro_card{
    border:none;
}

.card_container{
    animation: fadeIn 5s;
    animation-delay:21s;
    animation-iteration-count: 1;
    animation-fill-mode:backwards;
    display: flex;
    flex-direction: column;
}

.gradient-background {
    background: linear-gradient(300deg, #046A38, white,#F4C430);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}